/*cgi1.1
/*cgi1.0
/*v1.9
*~
*.orig
/.metadata/version.ini
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.lock
