/*cgi1.1
/*cgi1.0
/*v1.9
*~
*.orig
/.metadata/.lock
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/version.ini
/smt-whitepaper.pdf
